.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: white;


    &__info {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 100;
        width: 100%;
        padding: 10px 0;



    }

    &__left {
        display: flex;
        color: $mainColor;


        p {
            font-weight: 700;
        }

        a {
            max-width: 40px;
            width: 100%;
            font-size: 18px;
            line-height: 125%;
            color: $mainColor;
            padding: 5px;
            transition: all 0.6s ease 0s;

            &:hover {
                color: $color-secondary;
                transition: all 0.6s ease 0s;

            }
        }

        .call-block {
            margin-left: 50px;
            transition: all 0.6s ease 0s;
            cursor: pointer;

            &:hover {
                color: $color-secondary;
                transition: all 0.6s ease 0s;

                ul {
                    display: block;
                    position: absolute;
                    background: $color-secondary;
                    padding: 5px 10px;
                    cursor: pointer;

                }

            }

            ul {
                li {
                    a {
                        color: #000;
                        font-weight: 700;
                        font-size: 14px;
                        cursor: pointer;

                    }
                }

            }


            &__tel {
                position: relative;
                top: 3px;

                &::before {
                    position: absolute;
                    content: "\f3ce";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 700;
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: "\f078";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 700;
                    top: 7px;
                    right: -16px;
                    font-size: 10px;
                }

                .item {
                    padding-left: 20px;
                }

            }

            ul {
                display: none;
            }

        }






    }

    &__right {
        display: flex;
        align-items: center;

        li {
            a {
                margin-left: 15px;
                font-size: 18px;
                font-weight: 700;
                color: $mainColor;
                font-family: $fontFamily;
                border-bottom: 3px solid white;
                transition: all 0.6s ease 0s;

                &:hover {
                    border-bottom: 3px solid $color-secondary;
                    transition: all 0.6s ease 0s;

                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        border-bottom: 1px solid $mainColor;

    }

    &__row {
        display: none;
    }
}

@media (max-width: 1400px) {
    .home-block {
        .home {
            &__content {
                flex-direction: column;

            }

            &__left {
                padding: 20px;
            }

            &__logo {
                padding: 20px;
            }

            &__right {
                padding: 20px;
            }

        }
    }

    .page {
        &__category-sell-item {
            flex: 0 1 calc(100% / 2 - 100px);

            img {
                max-width: unset;
            }

        }

    }

    .footer {
        &__left {
            width: 100%;
        }

        &__right {
            display: none;
        }
    }




}



@media (max-width: 1200px) {
    .header {
        &::before {
            display: none;

        }

        &__info {
            display: none;
        }

        &__row {
            position: relative;
            display: flex;
            justify-content: right;
            height: 80px;
            align-items: center;
        }

        &__menu {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            overflow: auto;
            transition: all 0.3s ease 0s;
        }

        &__list {
            display: flex;
            position: relative;
            z-index: 2;

            li {
                margin: 0px 0px 0px 20px;
            }
        }

        &__burger {
            cursor: pointer;
            position: relative;
            height: 20px;
            width: 20px;
            display: block;
            z-index: 3;

            &::before,
            &::after {
                content: "";
                background-color: $color-secondary;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            span {
                position: absolute;
                background-color: $color-secondary;
                width: 100%;
                left: 0;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active {
                span {
                    transform: scale(0);
                }

                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }
        }

        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.3s ease 0s;

            &.active {
                padding: 100px 10px 20px 10px;
                background-color: #18b54a;
                top: 0;
                transition: all 0.3s ease 0s;
            }
        }

        &__list {
            display: block;
            text-align: center;


            li {
                margin: 0px 0px 20px 0px;

                a {
                    color: #fff;
                }

            }
        }
    }

    .page {
        &__category-item {
            width: 33%;

        }

        .about {
            &__row {
                flex-direction: column;
            }

            &__text {
                position: relative;
                width: 100%;
                max-width: none;
                border: none;
                margin: 0 0;
                padding: 20px;
            }
        }

        .mid {
            &__content-text {
                h4 {
                    font-size: 30px;
                    color: $color-secondary;
                }

            }
        }


    }


}



@media (max-width: 991px) {
    .page {
        &__slider {
            max-width: 300px;
            width: 100%;

            h4 {
                font-size: 36px;
            }

            .sub-title {
                font-size: 24px;
            }

            .text {
                font-size: 20px;
            }
        }

        &__category-sell-item {
            flex: 1 1 100%;

            .name-item {
                font-size: 14px;
            }

            .price {
                font-size: 18px;
            }

            img {
                max-width: none;
                width: 100%;
            }
        }

        .button {
            a {
                border: 1px solid $mainColor;
            }

        }

        .mid {
            &__content-text {
                h4 {
                    font-size: 25px;
                    color: $color-secondary;
                }

            }
        }

        .title {
            margin-top: 50px;
        }
    }

    .home-block {
        .home {
            &__left {
                display: none;
            }

            &__right {
                display: none;
            }

            &__logo {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
            }
        }
    }



}





@media (max-width: 768px) {
    .page {
        &__category-item {
            width: 50%;

            a {
                margin-bottom: 25px;
            }
        }

    }
}



@media (max-width: 576px) {
    .home {
        &__logo {
            img {
                max-width: 250px;
                width: 100%;
            }

        }
    }

    .page {
        &__category-item {
            width: 100%;

        }

        .title {
            h2 {
                font-size: 30px;

                &::before {
                    width: 10px;
                    height: 30px;
                    top: 15px;
                    left: -1px;
                }
            }


        }

    }

    .footer {
        &__logo {
            img {
                max-width: 250px;
                width: 100%;
            }
        }

        &__contact {
            text-align: center;
        }

        &__tel {
            flex-direction: row;
        }
    }
}


@media (max-width: 320px) {
    .page {
        &__category-sell-item {
            .price {
                font-size: 14px;
            }
        }
    }
}